* {
    margin: 0px;
    padding: 2%;
}

h1 {
    font-family: 'Playfair Display'
}

p {
    font-family: 'Roboto';
}

div {
    border: 1px solid red;
}

.introduction-image, .about-me {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-image, .footer-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    max-width: 100%;
}

.introduction-image > img {
    max-width: 100%;
    border: 1px solid blue;
}

.introduction-image > h1 {
    max-width: 90%;
    position: absolute;
    font-size: 15vw;
    border: 1px solid blue;
}

.about-me > h1, .contact-information > h1 {
    font-size: 10vw;
}

.about-me > p {
    font-size: 5vw;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons > img {
    max-width: 10vw;
    padding: 0vw 3vw 0vw 3vw
}

.address > p, .number-email > p {
    padding: 0px;
}