body {
    max-width: 100%;
    margin: 0px;
}

section {
    margin: 0px;
    padding: 3vw 3vw 3vw 3vw;
}

h1, h2 {
    font-family: 'Playfair Display';
}

h2 {
    font-size: 5vw;
}

p {
    font-family: 'Roboto';
}

.introduction {
    background-image: linear-gradient(0.9turn,white 65%, cadetblue 65%);
}

.introduction-image, .about-me {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    max-width: 100%;
}

.introduction-image > img {
    max-width: 100%;
}

.introduction-image > h1 {
    max-width: 90%;
    position: absolute;
    font-size: 15vw;
    bottom: -10%;
}

.about-me > h1, .contact-information > h1, .work > h1 {
    font-size: 10vw;
    text-align: center;
}

.about-me > p {
    font-size: 5vw;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.social-icons > img {
    max-width: 10vw;
    padding: 0vw 3vw 0vw 3vw
}

.address > p, .number-email > p {
    padding: 0px;
    margin: 0px;
}

.address, .number-email {
    margin-top: 10%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 10px #888888;
    margin-bottom: 5vh;
    padding: 0;
}

.project-image {
    object-fit: fill;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-1 > .project-image {
    background-color: maroon;
}

.project-2 > .project-image {
    background-color: slateblue;
}

.project-3 > .project-image {
    background-color: darkgoldenrod;
}

.project-4 > .project-image {
    background-color: forestgreen;
}

.project-5 > .project-image {
    background-color: palevioletred;
}

.project-6 > .project-image {
    background-color: skyblue;
}

.project-description {
    padding: 0vh 5vw 5vh 5vw;
}

.project-image > p {
    font-family: 'Playfair Display';
    font-size: 10vw;
    color: white;
}

.project-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    justify-content: end;
    min-width: 30vw;
}

.nav-icons > img {
    max-width: 8vw;
}

.project-summary > p {
    font-size: 4vw;
}

.footer {
    background-color: cadetblue;
    color: white;
}

.footer-image {
    display: flex;
    justify-content: center;
}

.footer-image > img {
    max-width: 100%;
    position: absolute;
}

@media screen and (min-width: 768px) {

 .introduction {
    display: flex;
    justify-content: center;
}

 .introduction-image {
    display: flex;
    justify-content: space-between;
    position: absolute;
    min-width: 80%;
 }

 .introduction-image > img {
    max-width: 40vw;
    translate: -27vw 3vh;
 }

 .introduction-image > h1 {
    font-size: 8vw;
    translate: 18vw -35vh;
 }

 .about-me {
    background-color: white;
    max-width: 80vw;
    max-height: 50vw;
    border: 1px solid black;
    margin-top: 15vh;
    padding: 5vw;
 }

 .about-me > p {
    font-size: 3vw;
 }

 .about-me > h1, .work > h1, .contact-information > h1 {
    font-size: 5vw;
    text-align: left;
}

 .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding: 0;
    margin: 0;
 }

 .section {
    padding: 0;
    margin: 0;
 }
 .projects {
    max-width: 40%;
    max-height: 50vh;
    overflow: auto;
 }

 .project-image {
    min-height: 60%;
 }

 .project-image > p {
    font-size: 5vw;
    padding: 1vw;
 }

 h2 {
    font-size: 2vw;
}

.nav-icons {
    display: flex;
    justify-content: space-between;
    min-width: 5vw;
}

.nav-icons > img {
    max-width: 2vw;
}

.project-summary > p {
    font-size: 1.5vw;
    margin-top: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer > div {
    margin-top: 0;
}

.contact-information {
    max-width: 50%;
    overflow: auto;
}

.number-email > p {
    display: flex;
    align-items: center;
}

span.phone-icon {
    width: 3vw;
    height: 3vh;
    background-image: url('icons/phone.svg');
    margin: 0;
    padding: 0 1vw 0 0;
    filter: invert(100%);
    background-repeat: no-repeat;
    display: inline-block;
}

span.email-icon {
    width: 3vw;
    height: 3vh;
    background-image: url('icons/email-outline.svg');
    margin: 0;
    padding: 0 1vw 0 0;
    filter: invert(100%);
    background-repeat: no-repeat;
    display: inline-block;
}

.contact-information > .social-icons {
    display: flex;
    justify-content: start;
    margin: 0;
}

.social-icons > img {
    max-height: 3vh;
    padding: 3%;
}

.footer-image {
    display: inline;
    max-width: 30%;
    margin: 10%;
}

.footer-image > img {
    max-width: 100%;
    position: static;
}

}